:root
{
    --main-color:#ff4838;
}
*li{
    list-style: none;
}

footer
{
    overflow: hidden;
    position: auto;
    bottom: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 45vh; */

    background-color: rgba(22, 43, 50,.7);
    color: white;
    text-align: center;
    }
.top-footer
{
    width: 100%;
    height:37vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;

}
.bottom-footer
{
    background-color:rgb(22, 43, 50) ;
    width: 100%;
    height:8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.vir-line
{
   color: var(--main-color);
}
.copyright
{
    display: inline-block;
}
.h3-footer
{
    font-weight: 500;
    color:black;
}
.socialIcon{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.IC
{
    font-size: 25px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s !important;
    padding: 15px 15px;
    border-radius:50% ;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    color: white;
    border: 2px solid var(--main-color);
}
.socialIcon a{
    text-decoration: none;
}

.footer-para
{
    width: 70%;
    color: white;
    text-align: start;
    padding: 15px 0;
}

.IC:hover
{
    color: var(--main-color);
    background-color: initial;
    border: 2px solid white;
}
.quick-link
{
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: block;
    text-decoration: none;
    transition:all .3s;
    margin-top: 10px;
}
.quick-link:hover
{
    color: var(--main-color);
    transform: translateX(5%);
}
.footer-image-div
{
    display: flex;
}
.footer-image
{
    margin-top: 10px;
}
@media(max-width:991px)
{
    .footer-para
    {
        display: none;
    }
    .bottom-footer-para
    {
        display: none;
    }
    .footer-logo
    {
        display: none;
    }
    .socialIcon{
        display: inline;
        justify-content: space-between;
        width: 100%;
    }
    .footer-image-div .row {
        --bs-gutter-x: 0;

        align-items: center;
    }


}



