:root
{
    --main-color:#ff4838;
}
footer
{
    background-color: rgba(22, 43, 50,.7);
    width: 100%;
    height: 50vh;
}
.top-footer
{
    width: 100%;
    height:40vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
}
.bottom-footer
{
    background-color:rgb(22, 43, 50) ;
    width: 100%;
    height:10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.vir-line
{
   color: var(--main-color);
}
.copyright
{
    display: inline-block;
}
.h3-footer
{
    font-weight: 500;
}
.IC
{
    font-size: 25px !important;
    display: inline-block !important;
    transition: all .3s !important;
    padding: 15px 15px;
    border-radius:50% ;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    color: white;
    border: 2px solid var(--main-color);
}
.footer-para
{
   width: 70%;
    color: white;
}
.IC:hover
{
    color: var(--main-color);
    background-color: initial;
    border: 2px solid white;
}
.quick-link
{
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: block;
    text-decoration: none;
    transition:all .3s;
    margin-top: 10px;
}
.quick-link:hover
{
    color: var(--main-color);
    transform: translateX(5%);
}
.footer-image-div
{
    display: flex;
}
.footer-image
{
    margin-top: 10px;
}
@media(max-width:991px)
{
    .footer-para
    {
        display: none;
    }
    .bottom-footer-para
    {
        display: none;
    }
    .footer-logo
    {
        display: none;
    }
}


